body {
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    margin: auto;
    width: 40%;
    text-align: center;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: #b00000;
    color: #111;
}

/* border: 15px solid #bcf0d5;
    (button) background-color: #70b79d;
 */
.listing {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(221, 221, 221);
}

.tableHome {
    table-layout: fixed;
    width: 80%;
    position: relative;
    left: 250px;
    word-wrap: break-word;
    color: white;

}

.tdTable {
    text-align: center;
    border: 1px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e0f1e8;
    color: black;
}

.sideBar {
    height: auto;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
    /* vertical-align: middle; */
    text-align: center;
    cursor: pointer;
    display: block;
    outline: 0
}


.sideUl {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(28, 28, 28);
}

.sideLi a {
    /* width: auto; */
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 50px;
    margin: 0px;
}

.sideLi a:hover {
    background-color: #403f3f;
}

.sideMenu {
    margin-left: 15px;
    width: auto;
    text-align: left;
    position: relative;
    display: block;
}


.liNavigation {
    float: left;
}

.liNavigation a:hover {
    background-color: #111;
}

.liNavigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 120px;
    text-decoration: none;
}

.ulNavigation {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(28, 28, 28);
}

.navigationMenu {
    margin-left: 0px;
    width: 100%;
    text-align: center;
    position: relative;
    /* display: inline-block; */
}

.userNavigation {
    margin-left: 15px;
    width: auto;
    text-align: left;
    position: relative;
    display: block;
}


.loginInside {
    position: relative;
    top: 30px;
    margin: 20px;
}

.formlogin {
    margin: 10px;
    padding: 12px 20px;
    height: 300px;
}

.header {
    text-align: center;
    padding: 10px;
}

.headerUser {
    /* background-color: #f1f1f1; */
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}

h1 {
    /* text-align: center; */
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: #bcf0d5;
    padding: 10px;
    margin: 70px;

}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.smallerButton {
    background-color: #213074;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

.smallerRedButton {
    background-color: #b43f3f;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

.smallerGreenButton {
    background-color: #04AA6D;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

.buttonEntrar {
    background-color: #70b79d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    position: relative;
}

.red {
    color: red;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.inputOriginal[type=text],
.inputOriginal[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.inputListing
 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    text-align: center;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.inputMiddle {
    width: auto;
     position: relative; 
    padding: 12px 20px;
    margin: 8px 0;
     display:inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.middlecontroller {
    position: relative;
    bottom: 10px;
}

.divMiddle {
    width: 70%;
    position: relative;
    left: 320px;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 10px solid #bcf0d5;
    box-sizing: border-box;
    text-align: center;

}

.divMiddle2 {
    width: 70%;
    position: relative;
    left: 320px;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    box-sizing: border-box;
    bottom: 50px;
    text-align: center;

}
.warning {
    width: 70%;
    position: relative;
    left: 320px;
    /* padding: 12px 20px; */
    /* margin: 8px 0;
    display: block; */
    /* box-sizing: border-box; */
    text-align: center;
    color: #b00000;

}
.warningUp {
    width: 70%;
    word-break: break-all;
    position: relative;
    left: 320px;
    /* padding: 12px 20px;
    margin: 8px 0; */
    /* display: block; */
    box-sizing: border-box;
    text-align: center;
    color: #b00000;
    bottom: 50px;

}
.greenWarning {
    width: 70%;
    position: relative;
    left: 320px;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    box-sizing: border-box;
    text-align: center;
    color: #0abf76;

}
.detailsPage {
    display: block;
    position: relative;
    background-color: white;
    border: 1px white;
    border-radius: 20px;
    width: 70%;
    left: 335px;
    height: auto;
    text-align: center;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

.form-middle {
    display:flex;
    margin: auto;
    background-color: white;
    vertical-align:middle;
    text-align: center;

}

.detailsInfo {
    display: block;
    position: relative;
    background-color: white;
    text-align: left;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 15px;
    font-size: 20px;

}

.detailsButton {
    background-color: #04AA6D;
    color: white;
    padding: 20px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    left: 300px;
    top: 150px;
    position: relative;
}

.detailsButton2 {
    background-color: #04AA6D;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}
.detailsButton3 {
    background-color: #04AA6D;
    color: white;
    padding: 20px 15px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    position: relative;
    bottom: 10px;
    left: 300px;
}

.detailsButton4 {
    background-color: #04AA6D;
    color: white;
    padding: 20px 15px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    position: relative;
    bottom: 10px;
    left: 1000px;
    bottom: 300px;
}